*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
header{
    background-color: #b60e0e;
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 20px;
    top: 0;
    left: 0;

}
header h1{
    color: #ffff;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;


}
.marioTop{
    position: relative;
}

.marioTop img{
    max-width: 100%;
    width: 100%;
}
.marioTop h2{
    background-color: orange;
    font-size: 45px;
    color: white;
    position: absolute;
    left: 0;
    top: 50%;
    padding: 15px 30px;

}
.marioTop h2 span{
    font-size: 1.2em;
}
.nav-bar{
    background-color: #E4E4E4;
    padding: 20px;
    position: sticky;
    top: 100px;

    
    
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    
}
nav li{
    display: inline-block;
    width: 25%;
    text-align: center;
    
}
nav li a{
    text-decoration: none;
    color: #4d4b4b;
}
nav li a.jion{
    color: #b60e0e;
}
main{
    color: #797575;
    padding: 0 20px;
    max-width: 100%;
    width: 1200px;/*when using the  width large even number used a margin of auto left and right to align  item in same line*/
    margin: 50px auto;
    box-sizing: border-box;

}
article h2{
    font-size: 30px;
    text-align: center;
    color: #b60e0e;
    
}
article p{
    line-height: 1.6em;/*control the space btn paragraph*/
}
.image{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap  /*use to list  inline without any break*/ 
}
.image li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.image li img{
    max-width: 100%;
}
.jion-us{
    background-color: #E4E4E3;
    padding: 30px 40px;
    text-align: center;
    
}
.jion-us h1{
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
}
.jion-us p{
    letter-spacing: 2px;
    color: #615d5d;
}
form input{
    padding: 30px 20;
    margin: 40px 0px;
    font-size: 30px;
    border-radius: 30px;
}
form input::placeholder{ 
    text-align: center;
    color: #9e9a9a;
}
footer{
    background-color: #b60e0e;
    text-align: center;
    font-size: 30px;
    color: #d3c7c7;
}
footer h2{
    font-size: 10px;
    padding: 20px;
}
nav li a:hover{
    color: #b60e0e;
    cursor: pointer;
    position: relative;
    left: 3px;
}
nav li:first-child{
    font-size: 1.1em;
}
form input:focus{
    border: 4px dashed #b60e0e;
    outline: none;
}
form input:valid{
    border: 4px solid orange;
}
.image li:hover{
    position: relative;
    top: -10px;
}
p::selection{
    background-color: orange;
    color: white;

}
p::first-letter{
    font-size: 1.3em;

}
@media screen and (max-width:1007px){
    .marioTop h2{
        font-size: 35px;
    }
}
@media screen and (max-width:765px){
    .marioTop h2{
        position: relative;
        text-align: center;
        font-size: 20px;
    }
    .marioTop h2 br{
        display: none;
    }
    .marioTop h2 span{
        font-size: inherit;
    }
    .jion-us{
        font-size: 25px;
        padding: 15px auto;

    }
    .jion-us h1{
    text-align: center;
    font-size: 26px;
    margin: 10px 0;
    }
    .jion-us p{
    letter-spacing: 1px;
    color: #615d5d;
    }
}
@media screen and (max-width:565px){
    header{
        position: relative;
        text-align: center;
    }
    .nav-bar{
        top: 0;
    }
    .image li{
    display: block;
    width: 100%;
    margin: 20px 5%;
    justify-content: center;
}

    }

@media screen and (max-width:427px){
    nav li{
    display: block;
    width: 100%;
    text-align: left;
    margin: 10px 0;
        
    }
    @media screen and (max-width:426px){
        form input{
        padding: 20px 10;
        margin: 20px 0px;
        font-size: 20px;
        }
    
    }
    
}
    @media screen and (max-width:260px){
        form input{
        padding: 10px 5;
        margin: 10px 0px;
        font-size: 15px;
        }
        header h1{
            width: 50%;
            display: block;
            font-size: 20px;

        }
    
    }
    







