*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./images/table.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrappp{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
}
.wrappp h1{
    font-size: 36px;
    text-align: center;
}
.wrappp .input-box{
    width: 100%;
    height: 50px;
    position: relative;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    padding: 20px 45px 20px 20px;

}
.input-box i{
position: absolute;
right: 20px;   
top: 15px;
font-size: 20px;
transform: translate(-50%);
}
.input-box input::placeholder{
    color: white;
}
.wrappp .remember-me{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 15px 0 15px;

    
}
.remember-me label input{
    accent-color:#fff;
    text-decoration: none;

}
.remember-me a{
    color: white;
    text-decoration: none;
    
}
.remember-me a:hover{
    text-decoration: underline;
    color: aqua;
}
.wrappp .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border-radius: 45px;
    border: none;
    outline: none;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-weight: 600;
    color:black;

}
.wrappp .btn:hover{
    color: black;
    background: aqua;
}
.wrappp .register-link{
    font-size: 14px;
    margin-top: 20px 0 15px;
    text-align: center;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
    color: aqua;
}